[submodule "zsh/zsh-syntax-highlighting.ignore"]
	path = zsh/zsh-syntax-highlighting.ignore
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "fasd"]
	path = fasd
	url = https://github.com/clvv/fasd.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "bin/gcalcli"]
	path = bin/gcalcli.git
	url = https://github.com/aftbit/gcalcli.git
